 Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

server/aktash/node_modules
server/aktash/.env
server/aktash/.tmp

# Local env files
.env
.env.*
!.env.example



